[user]
	name = Clayton Yochum
	email = claytonjy@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
	editor = nano
[push]
	autoSetupRemote = true
[rebase]
	updateRefs = true
[rerere]
	enabled = true

[includeIf "hasconfig:remote.*.url:git@bitbucket.org:abridge-ai/**"]
	path = ~/.abridge.gitconfig
[includeIf "hasconfig:remote.*.url:git@github.com:abridgeai/**"]
	path = ~/.abridge.gitconfig
